[user]
  name = Yves Parès
  email = limestrael@gmail.com
[color]
  ui = true
[alias]
  l = ls-tree --name-only HEAD
  s = status -s
  ci = commit
  b = branch
  co = checkout
  g = log --graph --decorate --oneline
  ga = log --graph --decorate --oneline --all

