[color]
  ui = true
[alias]
  l = ls-tree --name-only HEAD
  s = status -s
  st = status -s -uno
  f = fetch
  m = merge
  ci = commit
  cit = commit -uno
  b = branch
  co = checkout
  g = log --graph --decorate --oneline
  ga = log --graph --decorate --oneline --all
  logf = log --decorate --name-status
  showf = show --decorate --name-status

