[merge]
  tool = mymeld
  conflictstyle = diff3
  defaultToUpstream = true
[mergetool "mymeld"]
  cmd = meld $LOCAL $BASE $REMOTE -o $MERGED --diff $BASE $LOCAL --diff $BASE $REMOTE --auto-merge
[diff]
  tool = meld
[difftool]
  prompt = false
[mergetool]
  prompt = true
[color]
  ui = true
[push]
  default = upstream
[alias]
  ls = ls-tree --name-only HEAD
  s = status -s -uno
  su = status -s
  f = fetch
  ff = merge --ff-only
  rb = rebase
  ci = commit
  cit = commit -uno
  b = branch
  co = checkout
  st = subtree
  l = log --graph --decorate
  la = log --graph --decorate --all
  g = log --graph --pretty=format:'%C(auto)%h%d %s %C(green)%aN'
  gb = log --graph --pretty=format:'%C(auto)%h%d %s %C(green)%aN' --branches
  gr = log --graph --pretty=format:'%C(auto)%h%d %s %C(green)%aN' --remotes
  ga = log --graph --pretty=format:'%C(auto)%h%d %s %C(green)%aN' --all
  logf = log --decorate --name-status
  logme = !sh -c 'git log --decorate --name-status --author=\"`git config user.name`\"'
  showf = show --decorate --name-status
  rl = reflog show --decorate
  sb = show-branch
  dt = difftool
  mt = mergetool
[user]
  name = YPares
  email = yves.pares@gmail.com
